{% extends 'base.html.twig' %}

{% block title %}Zaloguj{% endblock %}

{% block body %}
    <section id="offer" style="height: 10%;"></section>
    <section id="offer" style="box-shadow: 0px 0px 10px 0px  rgba(0,0,0,0.5); height: 30%; ">
        <h1 style="margin: 0 0 5% 0">Add Product</h1>
        {{ form(form) }}
    </section>
{% endblock %}
